body { 
	height: 100vh;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}
.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}
.navbar{
	color: darkgrey;

}
#cart-total{
	color: skyblue;
}

.product-image{
	max-height: 200px;
	
}
.brand h2{
	text-transform: uppercase;
	margin-bottom: 0;
}
.hello{
	margin-right: 15px;
	margin-bottom: 0;
}
